*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    min-width: 1100px;
    margin: auto;
    padding: 10px 15px;
}
a{
    text-decoration: none;
}

/* navigation */
nav{
    height: 70px;
    position:sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 0 10px 0px rgba(0, 0, 0, 0.2);
    background-color:white;
    z-index: 999;
}

nav .container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
   
}
nav .container .link-items{
    display: flex;
    list-style: none;
    padding-left: 300px;
    overflow: hidden;
    
}
nav .container .link-items li a{
    margin-right: 1em;
    padding: 10px;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: capitalize;
    color: black;
    font-weight: 545;
}
nav .container .link-items li a:hover{
    color: rgba(255, 0, 0, 0.5);
}

.logo{
    width: 200px;
    cursor: pointer;
}
.logo h1{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: #101c32;
    font-weight: 600;
    font-size: 2em;
    
}
.line{
    border: 2.5px solid #101c32;
    margin-left: 5px;
    width: 60px;
}
/* .logo img{
    width:100% ;
} */
.menu-icons{
    display: flex;
    margin-right: 50px;
    flex-direction: row;
}
.menu-icons i{
    font-size: 1.3em;
    padding: 7px;
}
.menu-icons a{
    color: black;
}
.menu-icons a:hover{
    color: rgba(255, 0, 0, 0.5);
}
.hero-image{
    display: none;
}
/* hero section */
.hero-image img{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .hero-text h2{
    text-align: left;
    font-size: 3em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
  .hero-text p{
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    line-height: 2;
    font-size: 1.5em;
    font-weight: 400;
}
.hero .item-price{
    display: flex;
    padding: 70px 0;
    align-items: center;
    justify-content: space-between;
}
.item-price p{
    font-size: 2em;
    color: white;
}
.item-price a{
    border: 1px solid white;
    font-size: 0.8em;
    border-radius: 4px;
    text-decoration: none;
    padding: 13px 23px;
    text-transform: uppercase;
    color: white;
}
.item-price a:hover{
    background-color: white;
    color: rgba(255, 0, 0, 0.9);
}
  
.hero-text button:hover {
    background-color: #555;
    color: white;
}
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
.content .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    padding: 30px 0;
}
.img-col img{
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    width: 350px;
    height: 450pxpx;
}

  /* trending section */

 .trending-content{
    display: flex;
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-between;
}
.trending-content .trending-list{
    display: flex;
    list-style: none;
}
.trending-content h1{
  font-size: 2em;
}
.trending-content .trending-list li a {
  text-decoration: none;
  padding: 0 15px;
}
.trending-content .trending-list li a:hover{
  color: rgba(255, 0, 0, 0.9);
}
#trending .container .trending-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    padding: 30px 0;
}

#customer{
    height: 420px;
    background-color:rgba(0, 0, 0, 0.1);

}
.customer-testimonial{
    margin: 0 auto;
    width: 60%;
}
#customer .container .customer-testimonial{
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
}
.customer-testimonial h1{
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: 400;
    padding: 30px 0;
}
.customer-testimonial p{
    font-size: 1.5em;
    padding: 15px 0;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: 400;
}
.customer-image img{
    margin-top: 10px;
    width: 25%;
    border-radius: 50%;

}
.customer-image p{
    font-size: 0.9em;
}
#recommend{
    padding: 30px 0;
}
.recommend-item{
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#news{
    height: 650px;
    padding: 50px 40px;
    background-color: rgba(0, 0, 0, 0.1);
}
.news-content{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}
.news-content .news-col img{
    padding: 30px 0 25px 0;
    width: 300px;
    height:350px ;
}
.news-content .news-col a h2{
    text-align: left;
    margin-left: 35px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.2em;

}
.news-content .news-col p{
    text-align: left;
    margin-left: 35px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1em;
}
.news-content .news-col .read-more{
    color: rgba(255, 0, 0, 0.5);
}
/* our-services */
.our-services{
    display: flex;
    padding: 50px 60px;
    align-items: center;
    justify-content: space-around;
}
.our-services a img{
    font-size: 5em;
    color: rgba(0, 0, 0, 0.8);
}
.our-services h2{
    font-weight: 520;
    font-size: 1.3em;
    padding: 15px 0;
}
.our-services p{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
}

/* footer */
footer{
    background-color: #101c32;
    color: #fff;
    padding: 70px 50px 0 80px;
}

footer .container{
    height: 100%;
}
.newletter{
    display: flex;
    height: 50px;
    justify-content:flex-start;
    margin-bottom: 60px;
    gap: 70px;
}
.newletter h3{
    color: rgb(241,240,245);
    text-align: left;
    margin-bottom: 8px;
    font-size: 23px;
}
.newletter p{
    color:#7b838a;
    padding: 3px 0;
    cursor: pointer;
}

.newletter p:hover{
    color: rgb(241,240,245);
}
.newletter input{
    padding: 20px 70px;
    border: none;
    background-color:white;
}

.newletter input::placeholder{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.2);
}
.newletter button{
    background-color: rgba(255, 255, 255, 0.8);
    color: #101c32;
    margin-left: 8px;
    border: none;
    border-radius: 0;
    font-weight: 600;
    padding: 18px 30px;
}
.social i{
    padding: 7px 0 20px 20px;
    border-radius: 50px;
    font-size: 1.3em;
}
.social a{
    color: rgba(255, 255, 255, 0.5);
}
hr{
    color: rgba(255, 255, 255, 0.5);
}

.row-footer{
    display: flex;
    padding: 80px 0;
    justify-content: space-around;
    height: 100%;
}
.col-footer h3{
    font-weight: 600;
    text-align: left;
    font-size: 1em;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.col-footer li{
    list-style: none;
    text-align: left;
    color:#7b838a;
    padding: 15px 0;
    cursor: pointer;
    transition: 0.7s ease-in;
}

.col-footer li:hover{
    color: rgba(255, 255, 255, 0.5);
}
.copy-right p{
    margin-top: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}


